    <img ng-src="{{mainImageUrl}}" class="brother" xmlns="http://www.w3.org/1999/html">

    <style>
        ul.specs{padding-left:2%;}
        #involve{padding-right:5%;}
        #bk{padding-top: 1%;}
        #position{padding-top: 2px;}
    </style>

<h1>{{brother.name}}</h1>

<p id="bk"><b>BK</b> {{brother.bk}}</p>

<p><b>Description: </b>{{brother.description}}</p>
<p><b>Favorite Aspects of Lambda Chi Alpha: </b>{{brother.aspects}}</p>
<span id="position"><b>Positions Held:</b></span><p ng-repeat="item in brother.positions">{{item}}</p>


<ul class="brother-thumbs">
  <li ng-repeat="img in brother.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Year</span>
    <dl>
      <dd>{{brother.year}}</dd>
    </dl>
  </li>
  <li>
    <span>Major</span>
    <dl>
      <dd>{{brother.major}}</dd>
    </dl>
  </li>
  <li id="involve">
    <span>Involvement & Networks</span>
    <dl>
      <dd ng-repeat="item in brother.involve">{{item}}</dd>
    </dl>
  </li>
  <li>
    <span>Interests</span>
    <dl>
      <dd ng-repeat="item in brother.interests">{{item}}</dd>
    </dl>
  </li>
  <li>
    <span>Sports</span>
     <dl>
      <dd ng-repeat="item in brother.sports">{{item}}</dd>
     </dl>
  </li>
    <li>
        <span>Quotes</span>
        <dl>
        <dd ng-repeat="item in brother.quotes">{{item}}</dd>
        </dl>
    </li>
</ul>